.homeland {
    background-color: #285e1b;
    background-image: url('../img/portfolio/homeland/bg.jpg');
    p, ul:not([class="menu__list"]) {
        padding-left: 40px;
        line-height: 1.45;
        font-weight: 300;
        list-style: square;
        span {
            font-weight: 600;
        }
    }
    p {
        margin-bottom: 10px;
        margin-top: 30px;
    }
    ul:not([class="menu__list"]) li {
        margin-bottom: 10px;
    }
    img {
        max-width: 100%;
    }
    .section-green {
        background-color: #285e1b;
        .homeland__title {
            color: $text-color-light;
        }
    }
    
}

.homeland__title {
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
    color: #285e1b;
    position: relative;
    margin-bottom: 40px;
    padding-left: 40px;
    &::before {
        position: absolute;
        left: 0;
        top: 0;
    }
}

.homeland__cover {
    min-height: 100vh;
    color: $text-color-light;
    .container {
        padding-top: 50px;
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: space-between;
    }
    h1 {
        opacity: 0%;
    }
    .project-type {
        font-size: 20px;
        font-weight: 600;
        color: rgba($color: #fff, $alpha: .8);
    }
    .project-subtitle {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.5;
    }
    .project-generalInfo {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.5;
        color: rgba($color: #fff, $alpha: .6);
    }
    img {
        max-width: 100%;
        &.project-mainPage {
            box-shadow: 0 0 16px rgba($color: #000000, $alpha: .6);
        }
    }
}

.homeland__about {
    .homeland__title {
        &::before {
            content: '01';
        }
    }
}

.homeland__logoDesign {
    background-image: url('../img/portfolio/homeland/logo_mockup.jpg');
    background-size: cover;
    background-position: center center;
    .container {
        height: 80vh;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .homeland__title {
        &::before {
            content: '02';
        }
    }
    img {
        width: 25%;
        align-self: flex-end;
        opacity: .6;
    }
}

.homeland__fontAndColor {
    .homeland__title {
        &::before {
            content: '03';
        }
    }
    img {
        margin-bottom: 30px;
    }
    .homeland__colorPalette-wrapper {
        display: flex;
        justify-content: space-between;
        .homeland__colorPalette-item {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            width: 80px;
            height: 80px;
            line-height: 1.5;
            background-color: red;
            &[data-content="#043a2a"] {
                background-color: #043a2a;
                color: $text-color-light;
            }
            &[data-content="#81ba68"] {
                background-color: #81ba68;
            }
            &[data-content="#fff"] {
                background-color: #fff;
                border: .5px solid #262626;
            }
            &[data-content="#052137"] {
                background-color: #052137;
                color: $text-color-light;
            }
        }
    }
}

.homeland__landing {
    .homeland__title::before {
        content: '04';
    }
    .homeland__landing-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        img {
            width: 46%;
            margin-bottom: 20px;
            box-shadow: 0 0 20px rgba($color: #000000, $alpha: .6);
            &[src$='2.png'] {
                margin-right: 3%;
            }
            &[src$='3.png'] {
                margin-left: 3%;
            }
        }
    }
}

.homeland__solutions {
    .homeland__title::before {
        content: '05';
    }
}

.homeland__responsive {
    .homeland__title::before {
        content: '06';
    }
}

.homeland__conclusion {
    .homeland__title::before {
        content: '07';
    }
}

.divider__homeland {
    display: block;
    width: 100%;
        background-color: #285e1b;  
}
#divider-two {
    height: 10px;
    margin-top: 16px;
}
#divider-three {
    height: 10px;
    margin-top: 10px;
}
#divider-one {
    height: 42px;
}

.homeland__thanks {
    .container {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-logo {
        width: 200px;
        svg {
            width: 100%;
            height: auto;
            path{
                fill: rgba(43, 56, 100, 0.4);
            }
        }
    }
    &-label {
        width: 100%;
        margin-top: 60px;
        svg {
            width: 100%;
            height: auto;
            path {
                fill: #285e1b;
            }
        }
    }
    &-title {
        padding-left: 0 ;
        font-size: 17px;
        font-weight: 300;
        text-transform: none;
        color: $text-color-dark;
        margin-top: 10px;
    }
    .btn {
        padding: 20px 46px;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    }
    &-btn {
        margin-top: 40px;
        margin-bottom: 20px;
        background-color: #81ba68;
        color: $text-color-light;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
        &:hover {
            background-color: #285e1b;
        }
    }
}