.portfolio {
    &__cover {
        position: relative;
        background-color: var(--bg-color);
        z-index: 1;
    }
    &__container {
        position: relative;
        padding: 100px 20px 60px; 
        z-index: 3;      
    }
    &__bg {
        position: absolute;
        display: block;
        z-index: 2;
        background-color: var(--bg-color);
        max-height: 100vh;
        height: 100%;
        min-height: -webkit-fill-available;
        width: 100%;
        top: 0;
        left: 0;
    }
    &__info {
        &_type {
            font-size: 20px;
            font-weight: 600;
            color: rgba($color: #fff, $alpha: .8);
        }
        &_limits {
            margin-top: 30px;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.5;
            color: rgba($color: #fff, $alpha: .6);
            &-begin {
                display: none;
            }
        }
    }
    &__title {
        &_hide {
            opacity: 0%;
        }
        &_wrapper {
            margin-top: 30px;
            margin-bottom: 20px;
        }
        &_img {
            width: 100%;
            max-width: 640px;
            margin-bottom: 10px;
        }
        &_descr {
            color: rgba($color: #fff, $alpha: 0.8);
            font-size: 14px;
            font-weight: 300;
            line-height: 1.5;
            span {
                font-weight: 700;
            }
        }
    }
    &__img {
        border-radius: 10px;
        max-width: 100%;
        margin-bottom: 10px;
        box-shadow: 0 0 16px rgba($color: #000000, $alpha: .6);
        margin-left: auto;
        margin-right: auto;
    }
}