@media (min-width: 1200px) {
    .portfolio {
        &__container {
            max-width: 1440px;
            margin: 0 auto;
        }
        &__title {
            &_descr {
                font-size: 20px;
            }
        }
    }
}