.container {
    position: relative;
    z-index: 1;
    padding: 40px 20px;
    &-portfolio {
        padding: 80px 20px;
    }
    
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
        margin: 0 auto;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
        margin: 0 auto;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
        margin: 0 auto;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0;
    }
}