$btn-color: #f4e64b;
$btn-color-hover: #ff2e77;
$text-color-light: #fff;
$text-color-dark: #2b3864;
$color-green: #2dc0c7; // rgba(45, 192, 199, 1);
$color-blue: #32166b; // rgba(50, 22, 107, 1);
$color-pink: #d4177f;
$bg-gradient: linear-gradient(45deg, $color-green, $color-blue);
$bg-color: #fff;

$parentbaby-bg-color: #943944;